/* * {
  outline: 1px solid tomato;
} */

:root {
  --primary-color: #00664f;
  --secondary-color: #fff;
  --background--color: #ddd;
  --black-color: #333333;
  --line-color: #ddddddcb;
}

.wrap {}

#header {
  position: relative;
  line-height: 80px;
}

#header .top {
  border-bottom: 1px solid #ddddddcb;
}

#header .top .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .top .right {
  display: flex;
  align-items: center;
  gap: 20px;
}

#header .right .search {
  position: relative;
  display: flex;
  gap: 20px;
  line-height: 70px;
}

#header .search input[type="text"] {
  width: 100%;
  color: #333;
  font-size: 15px;
  height: 40px;
  line-height: 80px;
  box-sizing: border-box;
  margin: 0;
  background: #fff;
  border: 2px solid #00664f;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 24px 0 15px;
}

#header .search button {
  position: absolute;
  right: 0;
  width: 50px;
  height: 100%;
  background: none;
  border: none;
}

#header .search button i {
  font-size: 18px;
}

#header .top .utill {
  display: flex;
  gap: 20px;
}

#header .top .utill i {
  font-weight: 500;
  font-size: 21px;
  vertical-align: -3px;
}

#header .mopen {
  display: none;
}

.gnb>ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.gnb>ul>li>a {
  display: block;
  padding: 0 24px;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 768px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    line-height: 100px;
    transition: line-heght 0.2s;
    color: #000;
  }

  #header .top {
    border-bottom: 1px solid #ddddddcb;
  }

  #header .top .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #header .top .right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  #header .right .search {
    position: relative;
    display: flex;
    gap: 20px;
    line-height: 70px;
  }

  #header .search input[type="text"] {
    width: 100%;
    color: #333;
    font-size: 15px;
    height: 40px;
    line-height: 80px;
    box-sizing: border-box;
    margin: 0;
    background: #fff;
    border: 2px solid #00664f;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 0 24px 0 15px;
  }

  #header .search button {
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    background: none;
    border: none;
  }

  #header .search button i {
    font-size: 18px;
  }

  #header .top .utill {
    display: flex;
    gap: 20px;
  }

  #header .top .utill i {
    font-weight: 500;
    font-size: 21px;
    vertical-align: -3px;
  }

  #header .mopen {
    display: block;
  }

  .gnb>ul {
    display: none;
  }

  .gnb>ul>li>a {
    display: block;
    padding: 0 24px;
    font-size: 18px;
    font-weight: 500;
  }
}

/* main_visual */

.main_visual {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.main_visual .itm {
  position: relative;
  min-height: 600px;
}

.main_visual .itm .slogan {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .main_visual .itm.on {
  background-size: auto 140%;
  transition: 5s ease-out;
} */

.main_visual .itm01 {
  background: url(../images/main_visual01.png) no-repeat center bottom/cover;
  background-color: #ddd;
  background-blend-mode: multiply;
}

.main_visual .itm02 {
  background: url(../images/main_visual04.jpg) no-repeat center bottom/cover;
  background-color: #ddd;
  background-blend-mode: multiply;
}

.main_visual .itm03 {
  background: url(../images/main_visual05.jpg) no-repeat center bottom/cover;
  background-color: #ddd;
  background-blend-mode: multiply;
}

.main_visual .itm .slogan>* {
  color: #fff;
  transform: translate(0, 40px);
  opacity: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.main_visual .itm .slogan h2 {
  font-weight: 400;
}

.main_visual .itm .slogan strong {
  font-weight: 200;
}

.main_visual .itm .slogan span {
  font-weight: 200;
}

.main_visual .itm h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.main_visual .itm.on h2 {
  transform: translate(0, 0);
  opacity: 1;
  transition: 0.5s;
}

.main_visual .itm strong {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 8px 0;
}

.main_visual .itm.on strong {
  transform: translate(0, 0);
  opacity: 1;
  transition: 0.5s 0.5ms;
}

.main_visual .itm span {
  font-size: 18px;
}

.main_visual .itm.on span {
  transform: translate(0, 0);
  opacity: 1;
  transition: 0.5s 0.5ms;
}

.main_visual .menu {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 30px;
  left: 77%;
  transform: translate(-50%, 0);
  padding: 0 15px;
  text-align: center;
}

.main_visual .menu li {
  position: relative;
  width: 40px;
  height: 30px;
}

.main_visual .menu li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
}

.main_visual .menu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 4px;
  background: rgba(255, 255, 255, 1);
}

.main_visual .menu li.on::after {
  width: 100%;
  transition: 4s;
}

.main_visual .menu li a {
  display: block;
  color: rgba(225, 225, 225, 0.3);
}

.main_visual .menu li.on a {
  display: block;
  color: rgba(225, 225, 225, 3);
}

.main_banner {}

.main_banner .title {
  text-align: left;
}

.main_banner .title h2 {
  position: relative;
  margin: 0 0 12px 0;
  font-weight: 700;
}

.main_banner .title strong {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.main_banner .banner_contnet {
  display: flex;
  gap: 30px;
}

.main_banner .banner_contnet>* {
  flex: 1;
  text-align: center;
}

.main_banner .banner_contnet figure .img_box {
  margin: 0 0 12px 0;
}

.main_banner .banner_contnet figure strong {
  position: relative;
  display: block;
  margin: 0 0 8px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.main_banner .banner_contnet figure p {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

@media (max-width: 768px) {
  .main_banner .title {
    text-align: left;
  }

  .main_banner .title h2 {
    position: relative;
    margin: 0 0 12px 0;
    font-weight: 700;
  }

  .main_banner .title strong {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px 0;
  }

  .main_banner .banner_contnet {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .main_banner .banner_contnet>* {}

  .main_banner .banner_contnet figure .img_box {
    margin: 0 0 12px 0;
  }

  .main_banner .banner_contnet figure strong {
    position: relative;
    display: block;
    margin: 0 0 8px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }

  .main_banner .banner_contnet figure p {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
  }
}

/* main_zone */

.main_zone {
  background: url(../images/background_images02.png) no-repeat top/cover;
}

.main_zone .zone_wrap {
  position: relative;
  display: flex;
  gap: 70px;
}

.main_zone .zone_wrap>* {
  flex: 1;
  width: 570px;
}

.main_zone .zone_wrap figure {
  height: 400px;
}

.main_zone .zone_wrap figure img {
  overflow: hidden;
  border: 1px solid #ddd;
}

.main_zone .slick-dots {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, 0);
}

.main_zone .slick-dots>li {
  display: inline-block;
}

.main_zone .slick-dots>li button {
  border: 1px solid var(--line-color);
  background: var(--secondary-color);
  border-radius: 50%;
  padding: 4px 8px;
}

.main_zone .slick-dots>li:hover button {
  color: var(--);
  background: var(--line-color);
}

.main_zone .slick-dots>li~li button {
  margin-left: 10px;
}

/* .main_zone .slick-dots>li.slick-active button {
  color: var(--primary-color);
} */

.main_zone .notice .tap_menu {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 16px 0;
  margin: 0 0 16px 0;
  font-weight: 500;
  color: #8a8a8a;
  border-bottom: 1px solid var(--background--color);
}

.main_zone .notice .tap_menu li {
  position: relative;
  cursor: pointer;
}

.main_zone .notice .tap_menu li:hover {
  color: var(--primary-color);
}

.main_zone .notice .tap_menu li~li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translate(0, -50%);
  width: 1px;
  height: 10px;
  background: var(--background--color);
}

.main_zone .notice .tap_menu span {
  font-size: 18px;
}

.main_zone .con_list .con_t {
  margin: 0 0 15px 0;
}

.main_zone .con_t li {
  position: relative;
  padding: 20px 0 20px 20px;
  background: #fff;
  border: 1px solid #33333351;
  border-radius: 5px;
}

/* .main_zone .con_t li:hover {
  color: var(--primary-color);
} */

.main_zone .con_t strong {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  padding: 10px 30px 12px;
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 0 0 0 20px;
}

.main_zone .con_t li~li {
  margin: 5px 0 0 0;
}

.main_zone .con_t p {
  font-weight: 500;
  margin: 0 0 10px 0;
}

.main_zone .con_t span {
  font-size: 12px;
}

.main_zone .con_b li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_zone .con_b li:hover p {
  color: var(--black-color);
}

.main_zone .con_b strong {
  position: relative;
  margin: 0 15px 0 0;
  font-size: 13px;
  color: var(--black-color);
}

.main_zone .con_b strong::after {
  content: "";
  position: absolute;
  top: 0;
  right: -9px;
  width: 1px;
  height: 10px;
  background: var(--line-color);
}

.main_zone .con_b p {
  font-size: 15px;
  line-height: 30px;
}

.main_zone .con_b span {
  font-size: 13px;
  margin: 0 0 0 auto;
}

.main_zone .con_list .con {
  display: none;
}

.main_zone .con_list .con.on {
  display: block;
}

/* main_content */

.main_content .history {
  display: flex;
  gap: 30px;
  min-height: 400px;
}

.main_content .history>* {
  flex: 1;
  margin: 0 0 20px 0;
  border-bottom: 1px solid var(--line-color);
}

.main_content .history .history_menu li {
  position: relative;
  margin: 0 0 36px 0;
  padding: 0 0 0 40px;
  display: flex;
  gap: 50px;
}

.main_content .history .history_menu li strong {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
}

.main_content .history .history_menu li a {
  font-size: 16px;

  color: #3b3b3b;
}

.main_content .history .history_menu li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}

.main_content .history .history_menu li:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 15px;
  bottom: -25px;
  width: 1px;
  background: var(--primary-color);
}

.main_content .history .history_content figure img {
  vertical-align: middle;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.main_content .history .history_content li {
  height: 0;
  overflow: hidden;
  text-align: center;
  line-height: 24px;
}

.main_content .history .history_content li.on {
  height: auto;
}

.main_content .history .history_content figure {
  margin: 0 0 10px 0;
}

/* sns */

.main_sns .sns {
  display: flex;
  justify-content: space-between;
}

.main_sns .menu_list {
  display: flex;
  gap: 24px;
  position: relative;
  margin: 0 0 24px 0;
}

.main_sns .menu_list li {
  margin: 0 0 0 24px;
  transition: 0.5s;
}

.main_sns .menu_list .instagram:hover {
  color: #9900ff;
}

.main_sns .menu_list .instagram::before {
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: url(../images/instagram.svg) center center;
  transition: 0.2s;
}

.main_sns .menu_list .instagram:hover::before {
  filter: invert();
  background-blend-mode: multiply;
  background-color: #66ff00;
}

.main_sns .menu_list .instagram.on {
  color: #9900ff;
}

.main_sns .menu_list .instagram.on::before {
  filter: invert();
  background-blend-mode: multiply;
  background-color: #66ff00;
}

/*  */

.main_sns .menu_list .youtube:hover {
  color: #FF0000;
}

.main_sns .menu_list .youtube.on {
  color: #FF0000;
}


.main_sns .menu_list li a {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.main_sns .menu_list li a img {
  width: 20px;
}

.main_sns .menu_list li a span {
  font-size: 20px;
  font-weight: 500;
  padding: 0 0 0 4px;
}

.main_sns .con_list .con {
  display: none;
  height: 400px;
}

.main_sns .con_list .con.on {
  display: block;
}

.main_sns .con_list .con ul {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.main_sns .con_list .con ul li {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  padding: 0 0 24px 0;
}

.main_sns .con_list .con img {
  width: 330px;
  height: 300px;
  object-fit: cover;
  margin: 0 0 12px 0;
  border: 3px solid var(--line-color);
}

.main_sns .con_list .con strong {
  text-align: center;
  display: block;
  position: relative;
  font-weight: 400;
  margin: 0 0 12px 0;
  line-height: 20px;
  word-break: keep-all;
}

/* .main_sns .con_list .con strong::before {
  content: "";
  position: absolute;
  top: 44%;
  left: -24px;
  transform: translate(0, -50%);
  width: 1px;
  height: 58px;
  background: #ddd;
  border-radius: 50%;
} */

.main_sns .con_list .con span {
  text-align: center;
  display: block;
  font-size: 14px;
  color: #888;
  margin: 0 auto;
}

/* footer */

#Footer {
  background: #f9f9f9;
  padding: 0 0 50px 0;
}

#Footer .f_top {
  background: var(--secondary-color);
  border: 1px solid var(--line-color);
}

#Footer .f_top_wrap {
  display: flex;
  align-items: center;
  height: 70px;
}

#Footer .f_top_wrap img {
  width: 70%;
  filter: brightness(80%);
}

#Footer .f_top_wrap .right {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}

#Footer .family_site {
  display: flex;
  gap: 30px;
}

#Footer .family_site .site {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  padding: 0 20px;
  user-select: none;
}

/* 
#Footer .family_site .site::before {
  content: '';
  position: absolute;
  left: -22px;
  width: 1px;
  height: 20px;
  background: var(--black-color);
} */

#Footer .family_site .site strong .add {
  font-size: 14px;
  margin: 0 0 0 16px;
  transition: 0.5s;
}

#Footer .family_site strong.on .add {
  transform: rotate(180deg);
}

#Footer .site ul {
  display: none;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-54%, 0);
  color: #000;
  background: #fff;
  width: 172px;
  overflow-y: scroll;
  height: 181px;
  border: 1px solid #ddd;
}

#Footer .site ul.on {
  visibility: visible;
}

#Footer .site ul::-webkit-scrollbar {
  width: 8px;
}

#Footer .site ul::-webkit-scrollbar-thumb {
  height: 10%;
  background: var(--primary-color);
}

#Footer .site ul::-webkit-scrollbar-track {
  background: #eee;
}

#Footer .site ul li {
  line-height: 28px;
  width: 150px;
}

#Footer .site ul li~li {
  border-top: 1px solid #eee;
}

#Footer .site ul li a {
  display: block;
  width: 100%;
  padding: 1px 0 0 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 34px;
}

#Footer .site ul li a:hover {
  color: var(--primary-color);
}

#Footer .f_bott .info {
  display: flex;
  justify-content: space-between;
}

#Footer .f_bott .addr {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#Footer .f_bott .f_nav {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  border-bottom: 1px solid var(--line-color);
  margin: 0 0 15px 0;
}

#Footer .f_bott .f_nav li a {
  line-height: 50px;
  font-weight: 500;
  font-size: 15px;
}

#Footer .f_bott .info {
  display: flex;
  justify-content: space-between;
}

#Footer .f_bott .addr {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 300;
  gap: 10px;
}


#Footer .f_bott .right {
  text-align: right;
}